  .textfield-outline {
    position: relative;
    margin: 2rem 0;
    label {
      position: absolute;
      font-size: 1.3rem;
      color: #fc6514;
      left: 0;
      top: 0;
      transform: translateY(-50%);
      background-color: white;
      color: gray;
      padding: 0 0.3rem;
      margin: 0 0.5rem;
      transition: .1s ease-out;
      transform-origin: left top;
      pointer-events: none;
      }
      .input-outline {
        font-size: 1rem;
        outline: none;
        border: 1px solid #e5e5e5;
        border-radius: 5px;  
        padding: 1rem 0.7rem;
        color: black;
        transition: 0.1s ease-out;
        &:focus{
            border-color: #fc6514;
        }
        &:focus + label {
            color: #fc6514;
            top: 0;
            transform: translateY(-50%) scale(.9);
        }
        &:not(:placeholder-shown) + .label {
            top: 0;
            transform: translateY(-50%) scale(.9);
          }
      }
  }
  
 