.menu{
    border-top: 0.1rem solid #f0f2f3;
    border-bottom: 0.1rem solid #f0f2f3;
    
    &__list{
        display: flex;
        justify-self: baseline;
        margin-top: 1rem;
        justify-content: space-between;
        
        &--item{   
            
            list-style: none;
            cursor: pointer;
        }
        &--catelory{
            color: #b2bec3;
            font-size: 1.6rem;
            font-weight: 700;
            &:hover{
                color: #fc6514;
            }
        }
    }
    .item-active{
        color: #fc6514;
        
    }
}