.search{
    display: flex;

    &__logo{
        height: 5rem;
        margin-top: 0.5rem;
    }
    &__input{
        margin-top: 0.8rem;
        margin-left: 2rem;
        width: 63.5rem;
    }
    .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child), .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary){
        height: 5rem;
    }
}