.authentidication{
    width: 280rem;
    color: #b2bec3;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    margin-left: 1rem;
    margin-top: 1.7rem;
    justify-content: center;
    &:hover{
        color: #fc6514;
    }
    &__icon {
        // @extend .authentidication;
        height: 3rem;
        width: 3rem;
        font-size: 2rem;
        margin: 0 0rem 0 1.5rem;
      
    }
}
