.product{
    height: 38rem;
    width: 25rem;
    border: 0.1rem solid #b2bec3;
    border-radius: 0.5rem;
    text-align: center;
    &__img{
        height: 30rem;
        width: 22rem;
    }
    &__name{
        font-size: 1.6rem;
        font-weight: 500;
        color: #2d3436;
        margin-bottom: 1rem !important;
    }
    &__price{
        margin: 0 auto;
        font-size: 1.8rem;
        font-weight: 700;
        color: #d63031;
    }
}